/* 
Complimentary: #9FEE00
Background: #323638
    Lighter: #0F0F0F
    Softer: #
Text: #DBDBDB
    Darker: #FFD300
*/

html {
    position: relative;
    min-height: 100%;
}

iframe {
    text-align: center;
    margin: 0 auto;
}

table {
    width: 100%;
}

.centered-content {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/*
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
*/

.main-content {
    max-width: 800px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.playlist-input {
    min-width: 640px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.grid {
    min-width: 100px;
    max-width: 640px;
    min-height: 450px;
    max-height: 450px;
}

#playerContainer {
    width: 640px;
}

.playlist-item {
    width: 100%;
    height: 60px;
    background: #72b4d1;
    border: 2px solid black;
}

    .playlist-item > * {
        float: left;
    }

    .playlist-item.is-pointer-down {
        background: #d0d0d0;
        z-index: 2;
    }

    .playlist-item > video-name {
        overflow: scroll;
        width: auto;
    }

    .playlist-item.playing { 
        background: #dcbf7a;
    }

    .playlist-item > .video-handle {
        width: 12px;
        height: 56px;
        line-height: 16px;
        text-align: center;
        background: #a0a0a0;
        color: black;
    }

        .playlist-item > .video-handle:hover {
                cursor: move;
            }

    .playlist-item > .video-play-button-container {
        width: 30px;
        height: 56px;
        text-align: center;
        line-height: 56px;
    }

        .playlist-item > .video-play-button-container > .play {
            margin: auto;
            cursor: pointer;
            width: 24px;
            height: 24px;
            border-style: solid;
            border-width: 12px 0px 12px 24px;
            border-color: transparent transparent transparent white;
            translate: 2px 17px;
        }

        .playlist-item > .video-play-button-container > .pause {
            cursor: pointer;
            width: 24px;
            height: 24px;
            border-style: double;
            border-width: 0px 0px 0px 12px;
            border-color: white;
            translate: 8px 17px;
        }

    /* https://css-tricks.com/vertically-center-multi-lined-text/ */
    .playlist-item > .video-name {
        height: 56px;
        width: 85%;
        min-width: 260px;
        overflow: hidden;
    }

    .playlist-item > .video-remove-button {
        cursor: pointer;
        width: 12px;
        height: 20px;
        color: red;
    }

#hideAddFormButtonContainer {
    float: right;
    margin-right: 3px;
    margin-top: 3px;
}

#showHideFormButtonContainer {
    width: 640px;
    margin: 0px;
}

#addToPlaylistForm {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    bottom: 5%;
    width: 80%;
    height: 90%;
    max-width: 800px;
    max-height: 500px;
    border: 1px solid black;
    background-color: #d0d0d0;
}

    #addToPlaylistFormInnerContent > * {
        margin-left: 15%;
        margin-top: 5%;
        max-width: 80%;
        overflow: hidden;
    }

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.navbar-collapse {
    height: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer > .container {
    margin-right:20px;
    margin-top:15px;
}