/* 
Complimentary: #9FEE00
Background: #323638
	Lighter: #0F0F0F
	Softer: #
Text: #DBDBDB
	Darker: #FFD300
*/

*{
	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

iframe {
	text-align: center;
	margin: 0 auto;
}

.playlist-div {
	min-width: 640px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-collapse {
	height: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer > .container {
	margin-right:20px;
	margin-top:15px;
}