@{
    ViewBag.Title = "Home";
}

@section styles{
    @Styles.Render("~/Content/ptpCss")
}

<script src="https://www.youtube.com/iframe_api"></script>
<div class="row">
        <div id="playerContainer">
            <div id="showHideFormButtonContainer">
                <button onclick="showHideAddForm()">+</button>
            </div>
            <div id="player" class=""></div>
        </div>
        <div class="playlist-div">
            <button id="copyPlaylistButton">Copy to Clipboard</button>
        </div>
        <div class="playlist-div">
            <div id="playerButtons" class="playlist-div">
                <button id="previousVideo" onclick="previousVideo()" tabIndex="-1">Previous</button>
                <button id="nextVideo" onclick="nextVideo()" tabIndex="-1">Next</button>
            </div>

            <div id="playlistButtons" class="playlist-div">
                <button id="shuffle-button" onclick="shufflePlaylist()">Shuffle Playlist</button>
                <button id="clear-button" onclick="clearPlaylist()">Clear Playlist</button>
            </div>
        </div>
        <div id="playlistContainer" class="grid-container">
            <div id="playlistGrid" class="grid">
            </div>
        </div>
</div>

<div id="playlistItemTemplate" hidden="hidden">
    <div class="playlist-item draggable">
        <div class="video-handle">.<br />.<br />.</div>
        <div class="video-play-button-container"><div class="play"></div></div>
        <div class="video-name" data-video-id="" data-search-term=""></div>
        <div class="video-remove-button">X</div>
    </div>
</div>

<div id="addToPlaylistForm">
    <div id="hideAddFormButtonContainer">
        <button onclick="hideAddForm()">X</button>
    </div>
    <div id="inputArea" class="playlist-input">
        <label>
            <textarea id="query" rows="10" cols="120" type="text">Insert list of YouTube things here!</textarea>
        </label>
    </div>

    <div id="inputButtons" class="playlist-div">
        <div id="inputModifiers">
            <div id="delimiterSelectContainer" class="ownLine">
                <label class="">Input Delimeter: </label>
                <select class="" id="inputDelimeterSelect">
                    <option value="\r\n">Newline ('\n')</option>
                    <option value=",">Comma (',')</option>
                    <option value="|">Pipe ('|')</option>
                    <option value=":">Colon (':')</option>
                    <option value=";">Semi-Colon (';')</option>
                    <option value="/">Forward Slash ('/')</option>
                    <option value="\">Back Slash ('\')</option>
                </select>
            </div>
            <div id="shuffleInputCheckContainer" class="ownLine">
                <label class="">Shuffle Input: </label><input id="shuffleCheck" type="checkbox" name="shuffle" checked />
            </div>
            <div>
                <label class="">Add to Front of List: </label><input id="addFrontCheck" type="checkbox" name="addFront" />
            </div>
        </div>

        <br />
        <button id="add-videos-button" onclick="addVideos()">Add to Playlist</button>
    </div>
</div>

@section addedFooterContent {
    <p><a href="https://www.youtube.com/t/terms">YouTube terms of use</a></p>
}

@Scripts.Render("~/bundles/ptplaylist")