@{
    ViewBag.Title = "Home";
}

@section styles{
    @Styles.Render("~/Content/ptpCss")
}

<script src="https://www.youtube.com/iframe_api"></script>
<div class="row">
        <div id="playerContainer" class="center-block">
            <div id="showHideFormButtonContainer">
                <button onclick="showHideAddForm()" title="Add more videos!">+</button>
            </div>
            <div id="player"></div>
            <div class="playlist-div centered-content">
                <table id="playerButtonsTable" class="even-cell-widths">
                    <tr>
                        <td>
                            <button id="previousVideo" onclick="previousVideo()" tabIndex="-1" title="Previous Video">Previous</button>
                        </td>
                        <td>
                            <button id="playlistOptionsButton" onclick="showHidePlaylistOptions()" title="More Playlist Options">Options</button>
                        </td>
                        <td>
                            <button id="nextVideo" onclick="nextVideo()" tabIndex="-1" title="Next Video">Next</button>
                        </td>
                    </tr>
                    <tr id="playlistOptions" hidden="hidden">
                        <td>
                            <button id="shuffle-button" onclick="shufflePlaylist()">Shuffle Playlist</button>
                        </td>
                        <td>
                            <button id="clear-button" onclick="clearPlaylist()">Clear Playlist</button>
                        </td>
                        <td>
                            <button id="copyPlaylistButton">Copy to Clipboard</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="playlistContainer" class="grid-container">
                <div id="playlistGrid" class="grid">
                </div>
            </div>
        </div>
</div>

<div id="playlistItemTemplate" hidden="hidden">
    <div class="playlist-item draggable">
        <div class="video-handle">.<br />.<br />.</div>
        <div class="video-play-button-container"><div class="play"></div></div>
        <div class="video-name" data-video-id="" data-search-term=""></div>
        <div class="video-remove-button">X</div>
    </div>
</div>

<div id="addToPlaylistForm">
    <div id="hideAddFormButtonContainer" class="row">
        <button onclick="showHideAddForm()" title="Close This Window">X</button>
    </div>
    <div id="addToPlaylistFormInnerContent">
        <div id="inputArea" class="playlist-input row">
            <label> Insert list of YouTube videos here!
                <textarea id="query" rows="10" cols="120" type="text"></textarea>
            </label>
        </div>

        <div id="inputButtons" class="playlist-div row">
            <table>
                <tr>
                    <td>Input Delimeter: </td>
                    <td>
                        <select class="" id="inputDelimeterSelect">
                            <option value="\r\n">Newline ('\n')</option>
                            <option value=",">Comma (',')</option>
                            <option value="|">Pipe ('|')</option>
                            <option value=":">Colon (':')</option>
                            <option value=";">Semi-Colon (';')</option>
                            <option value="/">Forward Slash ('/')</option>
                            <option value="\">Back Slash ('\')</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Shuffle Input: </td>
                    <td>
                        <input id="shuffleCheck" type="checkbox" name="shuffle" checked />
                    </td>
                </tr>
                <tr>
                    <td>Add to Front of List:</td>
                    <td>
                        <input id="addFrontCheck" type="checkbox" name="addFront" />
                    </td>
                </tr>
                <tr><td><hr /></td></tr>
                <tr>
                    <td colspan="2">
                        <button id="add-videos-button" onclick="addVideos()">Add to Playlist</button>
                    </td>
                </tr>
            
            </table>
        </div>
    </div>
</div>

@section addedFooterContent {
    <p><a href="https://www.youtube.com/t/terms">YouTube terms of use</a></p>
}

@Scripts.Render("~/bundles/ptplaylist")